.row {
    padding: 0;
    --bs-gutter-x: 0;
}
html{
    padding:0;
    margin:0;
    overflow-x: hidden;
}

#mainnavbar {
    font-family: 'Cormorant Garamond', serif;
    ;
    font-size: 3rem;
    color: white;

}

#navbarsection {
    background-color: #272727;
}

#expand a {
    color: rgba(255, 255, 255, 0.7);




}

#expand a:hover {
    color: #fe561a;
    text-decoration: underline;
    text-underline-offset: 12px;


}

@media (min-width:992px) {
    #expand a:hover {
        text-decoration: underline;
        transform: scale(1.1);
    }
}

.navbar-toggler {
    color: #fe561a;
}


/* NAVBAR CSS ENDS HERE */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.pages {
    height: 100vh;



}

/*  */


#one {
    background-color: #272727;
   
    height: 87vh;
    display:flex;
    flex-direction: column;
    justify-content: center;

}
.cont{
    display:flex;
    justify-content: center;
    align-items: center;
}


#mypicdiv {
    display:flex;

    justify-content: center;
    align-items: center;
    transform: translatex(+50%);
    opacity: 0;

    animation: slideTitleUp 1.5s forwards cubic-bezier(0.87, 0, 0.13, 1);

    filter: blur(2px);
    
  
}
.mypicture {
    border-radius: 50%;
    width: 400px;


}




@keyframes slideTitleUp {
    to {
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
    }
}


.myname {
    text-align: center;

    color: white;
    transform: translateY(50%);
    opacity: 0;

    animation: slideTitleUp 1.5s forwards cubic-bezier(0.87, 0, 0.13, 1);
    filter: blur(2px);
}

.hi {
    transform: translateY(-50%);
    opacity: 0;
    
    animation: slideTitleUp 1.5s forwards cubic-bezier(0.87, 0, 0.13, 1);
    filter: blur(2px);
}

#mypicsleft {
   
    display: flex;
    flex-direction: column;
    justify-content: center;

 


}

.hi {
    text-align: center;
    color: #fe561a;
}

/* 
   section one css end here */
#two {
    background-color: #fff6f0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* height: auto; */

}

@media (max-width:992px) {
    #two {
        height: auto;
    }
}

.skillsHeading {
    text-align: center;
    font-size: 3rem;
}

.skillcardscont {
    display: flex;

    justify-content: space-evenly;

    align-items: center;


}

.skillcards {

    height: 50vh;
    border-radius: 3%;
    background-color: white;
    margin: 5px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.skillsName {
    display: flex;
    align-items: center;
}

@media (max-width:420px) {
    .skillsName {
        padding-left: 2px;
    }
}

.skillsPics {
    width: 3.7rem;
    padding-left: 1rem;
    transform: translateX(1rem);
}

.skills {
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
}




/* section 2 ends here */

.resume{
    text-align: center;
}
/* CSS */
.button-34 {
    background: #fe561a;
    border-radius: 999px;
    box-shadow: #fe561a 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
  }

#three {
    background-color: #272727;
    display: flex;
    justify-content:center;
    align-items: center;
    padding-left: 10px;
    height:40vh;
    color: white;

}
.div3{
       transform: translateY(70%);
       opacity:0;
       filter: blur(2px);
}
@keyframes slideTitleUp2 {
    to {
        opacity: 1;
        filter: blur(0);
        transform: translateY(-25%);
    }
}
@media (max-width:772px)
{
    @keyframes slideTitleUp2 {
        to {
            opacity: 1;
            filter: blur(0);
            transform: translateY(-16%);
        }
    }
}






/*  sectione 3 ends here */
svg#freepik_stories-get-in-touch:not(.animated) .animable {
    opacity: 0;
}

svg#freepik_stories-get-in-touch.animated #freepik--character-2--inject-3 {
    animation: 1.5s Infinite linear floating;
    animation-delay: -0.5s;
}

svg#freepik_stories-get-in-touch.animated #freepik--character-1--inject-3 {
    animation: 1.5s Infinite linear floating;
    animation-delay: 0s;
}

@keyframes floating {
    0% {
        opacity: 1;
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}


#getintouchill{
    display:flex;

    justify-content: center;
    align-items: center;
    width:500px; 
}



.contact{
    color:white;
    text-align: center;
    
    font-size: 2.5rem;
}

#four {
    background-color: #272727;
    display: flex;
   
    flex-direction: column;
    justify-content: space-evenly;

}
@media (max-width:992px){
    #four{
        height:auto
    }
}


form{
    background-color: #fff6f0;
 
}
.form-container{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}

.fcont {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;

  text-rendering: optimizeLegibility;
}


.container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
  background: #F9F9F9;
  padding: 25px;
  margin:0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.letstalk{
    text-align: center;
}
#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

.formsubmit {
  cursor: pointer;
  width: 100%;
  border: none;
  background: rgba(254, 86, 26,0.8);
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

.formsubmit:hover {
  background:  rgb(254, 86, 26);
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}

/* section four ends here */


#five{
    background-color: #fcfcfc;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}
.projectscont{
    display: flex;
    justify-content: space-around;
}
.card{
   
    margin:5px;
}
.projectlink{
    background-color: rgba(254, 86, 26,0.8);
    border-color:rgba(254, 86, 26,0.8);
}
.projectlink:hover{
    background-color: rgba(254, 86, 26);
    border-color:rgba(254, 86, 26)
}
@media (max-width:1248px){
    #five{
        height:auto;
    }
}

#projectsheading{
    color:black;
}






